article, aside, details, figcaption, figure, 
footer,main, header, hgroup, menu, nav, section
{ 
 display: block; 
}
body
{
    background-color: #000;
    font-size: 14px;
    color: #000;
}
header
{
    width: 980px;
    height: 150px;
    background-image: url("pics/header.jpg");
    float: left;
}
.headerpic
{
    width: 244px;
    height: 81px;
    background-image: url("pics/headerlogga.png");
    background-repeat: no-repeat;
}
#outercontainer
{
    width: 100%;
    max-width: 980px;
    height: auto;
    margin: 0 auto;

}
#container
{
  max-width: 100%;
  height: auto;
  clear: both;
  margin: 0 auto;
  padding: 0;
}
nav
{
    float: left;
}
nav ul
{
    padding: 0;
    margin: 0;
}
nav ul li
{
    float: left;
    margin-left: 1px;
}
.nodot
{
    list-style-type: none;
}
.clear
{
    clear: both;
}
a
{
    text-decoration:none;
}
.css3button 
{
    width: 150px;
    height: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	padding-top: 8px;
	color: #ffffff;
	background: -moz-linear-gradient(
		top,
		#ff0000 0%,
		#ff7700 50%,
		#ff7700 50%,
		#fc0000);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ff0000),
		color-stop(0.60, #ff7700),
		color-stop(0.40, #ff7700),
		to(#fc0000));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(3,0,0,0.5),
		inset 0px 0px 2px rgba(0,0,0,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(3,0,0,0.5),
		inset 0px 0px 2px rgba(0,0,0,1);
	box-shadow:
		0px 1px 3px rgba(3,0,0,0.5),
		inset 0px 0px 2px rgba(0,0,0,1);
	text-shadow:
		0px -1px 0px rgba(3,3,3,0.2),
		0px 1px 0px rgba(0,0,0,1);
}

.activecss3button 
{
    width: 150px;
    height: 25px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: center;
	padding-top: 8px;
	color: #ffffff;
	background: -moz-linear-gradient(
		top,
		#ff7700 0%,
		#ff0000 50%,
		#ff0000 50%,
		#ff7700);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ff7700),
		color-stop(0.60, #ff0000),
		color-stop(0.40, #ff0000),
		to(#ff7700));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(3,0,0,0.5),
		inset 0px 0px 2px rgba(0,0,0,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(3,0,0,0.5),
		inset 0px 0px 2px rgba(0,0,0,1);
	box-shadow:
		0px 1px 3px rgba(3,0,0,0.5),
		inset 0px 0px 2px rgba(0,0,0,1);
	text-shadow:
		0px -1px 0px rgba(3,3,3,0.2),
		0px 1px 0px rgba(0,0,0,1);
}
main
{
    width: 60%;
    height: auto;
    background-color: #e2e4d7;
    float: left;
    margin-right: 3px;
    text-align: justify;
    word-break: normal;
    border-radius:15px;
}
h3
{
    padding-top: 35px;
}
.biggerLink
{
    font-size: 18px;
}
h4
{
    padding: 0;
    margin: 0;
}
.fullmain
{
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
main h2
{
    color: #ff7700;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}
aside
{
    width: 37%;
    height: auto;
    background-color: #cdd0b9;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
    text-align: justify; 
    word-break: normal;
    border-radius:15px;
}
footer
{
    width: auto;
    height: 25px;
    text-align: center;
    background-color: white;
    clear: both;
    border-radius:15px;
}
.noroundedaside
{
    border-radius: 0;
}
#googleMap
{ 
    height: 300px; 
}




